
header{ position:fixed; left:0;top:0;padding:20px .25rem;background:#fff;width:100%; z-index:999;}
header .logo{ position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
header .logo a{ display: block;}
header .logo a img{ display:block;height:40px;}
header .nav{ float:left; display:block; width:25px;height:19px; background:url(../webimages/nav.png) 0 0 no-repeat;background-size:25px auto;}
.indexHeight{height:59px;}

/*导航*/
nav{ position:absolute;width:260px;height:100%; background:#fff;top:0;left:0; z-index:9999; overflow-y:auto;transform: translate3d(-100%,0,0); -webkit-transform: translate3d(-100%,0,0);transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; opacity:0;}
nav.cur{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0); opacity:1;}
.navbg {background: rgba(0,0,0,.5); position: fixed;width: 100%;  height: 100%; left: 0; top: 0;  display: none; z-index:1000;}
.navbg.act{ display:block;}
nav ul{ overflow-y: auto;}
nav ul li h4{padding:20px 0 20px 40px;font-size:16px; border-bottom:1px solid #D9D9D9; position:relative;}
nav ul li>a{ display:block;color:#333;}
nav ul li h4:after{content: "";position: absolute; top: 50%;margin-top:-6px;right: 20px;width: 10px;height: 10px;  border-right: 1px solid #BEBEBE; border-top: 1px solid #BEBEBE;border-left: 0; border-bottom: 0;transform: rotate(45deg);moz-transform: rotate(45deg); -ms-transform: rotate(45deg);-o-transform: rotate(45deg); -webkit-transform: rotate(45deg);transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
nav ul li.cur h4:after{transform: rotate(45deg);moz-transform: rotate(135deg); -ms-transform: rotate(135deg);-o-transform: rotate(135deg); -webkit-transform: rotate(135deg);}
nav ul li:nth-of-type(1) h4:after{ opacity:0;}
nav ul li:nth-of-type(1) h4{ background:url(../webimages/index_inco11.png) 15px center no-repeat; background-size:20px auto;}
nav ul li:nth-of-type(2) h4{ background:url(../webimages/index_inco12.png) 15px center no-repeat; background-size:20px auto;}
nav ul li:nth-of-type(3) h4{ background:url(../webimages/index_inco13.png) 15px  center no-repeat; background-size:18px auto;}
nav ul li:nth-of-type(4) h4{ background:url(../webimages/index_inco14.png) 15px   center no-repeat; background-size:24px auto;}
nav ul li:nth-of-type(5) h4{ background:url(../webimages/index_inco15.png) 15px  center no-repeat; background-size:20px auto;}
nav ul li:nth-of-type(6) h4{ background:url(../webimages/index_inco16.png) 15px  center no-repeat; background-size:20px auto;}
nav ul li:nth-of-type(7) h4{ background:url(../webimages/index_inco17.png) 15px  center no-repeat; background-size:16px auto;}
.subMeun{ display:none;}
.subMeun p a{background:#F2F2F2;display:block;color:#333;font-size:16px;padding:10px 0 10px 40px; }
.subMeun p a:hover{background:#7F1085;color:#fff;}

/*banner*/
.indexbanner{ position:relative;width:100%; overflow:hidden;}
.indexbanner ul li  img{ height:auto; width:100%; display:block;}
.swiper-wrapper {position: relative;width: 100%;height: 100%; z-index: 1; display: -webkit-box;display: -moz-box; display: -ms-flexbox;  display: -webkit-flex;display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0); -o-transform: translate(0,0); -ms-transform: translate3d(0,0,0);  transform: translate3d(0,0,0);}
.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.indexbanner .dot{ width:100%; text-align:center; padding:10px 0px; position:absolute; left:0px; right:10px; bottom:-7px; z-index:9; cursor:pointer;}
.indexbanner .dot span{ display:inline-block; margin:0px 3px; width:14px; height:14px; opacity:1; background:#fff; border-radius:50%; border:1px solid #fff;}
.indexbanner .dot span.swiper-pagination-bullet-active{ background:#7F1085;}

.indexColumn01{background:#fff;padding:20px .25rem;}
.indexTilte{font-size:18px;color:#7f1085;padding-bottom:20px;}
.indexTilte span{font-size:14px;color:#9d84ab; padding-left:5px;}
.indexmore{ float:right; display:block; color:#7f1085; font-size:13px; padding-top:2px;}
.Column01List{ width:100%;display: -webkit-flex; display: -moz-flex;display: -ms-flex;display: -o-flex; display: flex;}
.Column01List li{-webkit-flex: 1;-moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1;margin-right:.2rem;}
.Column01List li:last-child{margin-right:0;}
.Column01List li img{height:45px; display:block;margin:0 auto; }
.Column01List div{padding:10px 0; border-radius:3px;}
.Column01List .orange{background:#F19149;}
.Column01List .green{background:#80C269;}
.Column01List .blue{background:#4EA2DD;}
.Column01List .violet{background:#C490BF;}
.Column01List li h4{padding-top:5px;}
.Column01List li h4 a{ display:block; color:#333; font-size:12px; line-height:18px; text-align:center;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:2;}


.indexColumn02{background:#F1F1F1;padding:20px .2rem;}
.indexCourseList {padding-bottom:20px;}
.indexCourseList li{ float:left;width:2.9rem;background:#fff; border:2px solid #EFDDF0;margin-bottom:.2rem; }
.indexCourseList li:nth-of-type(odd){margin-right:.2rem;}
.indexCourseList li a{ color:#303030; display:block;}
.indexCourseList li .title{color:#7f1085;font-size:14px; border-bottom:1px solid #E5E5E5;padding:10px .15rem;}
.indexCourseList li  p.date{ padding:10px .1rem 15px;padding-left:24px;background:url(../webimages/index_inco05.png)  .1rem 13px no-repeat; background-size:16px auto;}
.browseMore a{ display:block;width:100%; background:#7F1085; text-align:center;height:40px; line-height:40px; color:#fff; border-radius:3px; font-size:16px;}
.newsTabs{padding:0 .2rem;width:100%;display:-webkit-flex; display:-moz-flex;display:-ms-flex;display:-o-flex; display:flex; padding-bottom:10px;border-bottom:1px solid #7F1085;}
.newsTabs a{-webkit-flex:1;-moz-flex:1; -ms-flex:1; -o-flex:1; flex:1;padding:5px .1rem 5px .1rem; font-size:13px; color:#333; text-align:center; }
.newsTabs a.cur{background:#7F1085; border-radius:15px;color:#fff;}
.newsTabs a:last-child{padding-right:0;}

.indexColumn03{padding:20px 0;background:#fff;}
.newsPt{padding-left:.2rem;}
.newsContentBox{padding:20px .2rem 0 .2rem;}
.toggle{ display:none;}
.newsContentList{padding-bottom:10px; }
.newsContentList li{width:2.95rem; float:left;}
.newsContentList li:nth-of-type(odd){margin-right:.1rem;}
.newsContentList li a{ display: block;}
.newsContentList li a img{ display:block;width:100%;}
.newsContentList li h4{color:#242424;font-size:12px;padding:5px 0 10px;}
.newsContentList li h4 a{color:#242424;}

.two-video {position:relative;width:100%;height:100%;padding:0;  overflow: hidden; float:none; }
.two-video .video-mask{ position:absolute; z-index:7;width:100%;}
.two-video .video-mask img{ width:100%; display: block;height:100%;}
.two-video .video1{ width:100%;}
.two-video .video-button{ position:absolute;top:50%;left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:62px;height:62px; background:url(../webimages/index_inco06.png) 0 0 no-repeat; background-size:100% auto; z-index:9;}
.two-video  .layer-xo{ position:absolute;left:0; top:0;width:100%;height:100%; background:rgba(0,0,0,.5); z-index:8; cursor:pointer;}

.companyContent{padding:10px 0 20px;}
.companyContent .title{font-size:16px;padding-bottom:10px;}
.companyContent  .companyText{text-align:left;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:3; font-size:13px;}
.companyContent  .companyText  a{color:#666;}
.companyContent  .companyText .more{ display:inline-block; width:16px;height:14px; background:url(../webimages/index_inco07.png) 0 0 no-repeat; background-size:13px; vertical-align:-4px;}
.indexConact li{margin-bottom:15px; font-size:13px;}
.indexConact .indexTel{background: url(../webimages/index_inco08.png) 0 5px no-repeat; background-size:15px auto;}
.indexConact .indexAddress{background: url(../webimages/index_inco09.png) 0 5px no-repeat;background-size:18px auto;}
.indexConact p{padding-left:30px;}
.indexColumn01{ position:relative;}
.computer{ position:absolute;width:100px; top:40px;right:20px; border:1px solid #D9D9D9; border-radius:15px;padding:8px 0; background:url(../webimages/index_inco10.png) 15px center no-repeat; background-size:25px auto; padding-left:45px; color:#666;font-size:14px;}

footer{ position:relative;}
footer .footerCon{padding:10px 0;color:#fff; text-align:center;background:#7F1085;}


.returnTop{ position:fixed;bottom:138px;right:10px; z-index:10000; display:none;}
.returnTop a{ display:block;width:30px;height:30px; background:url(../webimages/index_inco18.png) 0 0 no-repeat; background-size:100% auto;}


.pageBanner { overflow:hidden;}
.pageBanner img{ width:100%;}


.commonWeb{border-top:10px solid #F5F5F5; background:#fff; padding:20px .25rem; font-size:13px; line-height:24px;}
.newslist li{padding:15px 0;border-bottom: 1px solid #e8e8e8;}
.newslist li a{ display:block;}
.newslist li h4{color:#7f1085; font-size:15px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:1; }
.newslist li .date{ display:block; color: #999;}
.newslist li .text{text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:2;color: #4c4c4c; font-size:13px; }


/*--新闻详细--*/

.wqpnewsContentstitle{ border-bottom:1px solid #d9d9d9; padding:0px 15px 25px;}
.wqpnewsContentstitle h3{ text-align:center; font-size:20px; font-weight:bold; color:#4c4c4c; line-height:28px;}
.wqpnewsContentstitle p{ text-align:center; color:#666666; font-size:14px; padding-top:10px;}
.wqpnewsContentstitle p span{padding-right:10px;}

.wqpnewsContents{font-size:14px; line-height:26px; padding:20px 0px;}
.wqpnewsContents img{ max-height:100%; max-width:100%; margin:0px auto;}

.commonReturn{margin:0px 15px; padding:30px 0px 25px;}
.commonReturn a{color:#666666;background:#ededed;text-align:center;padding:3px 0px;font-size:14px;display:block;line-height:30px;}
.commonReturn a:hover{color:#fff;background:#7F1085;}


/*产学研资*/
.platformTop{}
.platformTop dt img{ display:block;width:100%;}
.platformTop dd{padding:15px 0 20px; font-size:14px;}
.platformList img{ display:block;width:100%; overflow:hidden;}
.platformList {font-size:13px;}
.platformList .production{border-bottom:1px solid #7f1085;padding:20px 0; }
.platformtitle{padding:10px;background:#7f1085; font-size:13px; position:relative;color:#fff;margin:20px 0;}
.platformtitle:after{ content:""; position: absolute;width: 0;height: 0; left: 50%; bottom: -6px;margin-left: -10px; border: 20px solid #7f1085;border-width: 20px 20px 0;border-color: #7f1085 transparent transparent;z-index: 99;}
.platformTab tr td{border-bottom: 2px solid #f1f1f1;padding:10px 0;}
.platformTab tr td:nth-of-type(odd){ font-weight:bold;padding-right:20px; text-align:center;}


/*紫荆同学会*/
.SocietyOne{padding-bottom:20px;}
.SocietyTitle{height: 40px;line-height: 40px; margin-bottom: 20px;font-size:16px; color: #7f1085; border-bottom: 1px solid #7f1085;}
.cubList{padding-top:30px;}
.cubList li{width:100%;border:1px solid #e0e0e0; position:relative;padding:30px 10px 20px; margin-bottom:50px;}
.cubList li img{ position:absolute;top:-5px;left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); height:60px;}
.talkMore{ float:right;color:#7f1085;font-size:12px; display:block;}

.forumList li{width:2.85rem; float:left;padding:10px;border:1px solid #87118e;}
.forumList  li:nth-of-type(odd){margin-right:.2rem;}
.forumList li a{ display:block;}
.forumList li img{width:100%; display:block;}
.forumList li  p{padding-top:10px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:3; }
.StudentsWill {margin-bottom:10px;}
.StudentsWill input{width:100%;height:35px; line-height:normal;padding-left:10px; border: 1px solid #dcdcdc;}
.StudentsWill textarea{width:100%;height:100px; border: 1px solid #dcdcdc;padding:10px;}
.StudentsWill p{padding-bottom:10px;}
.StudentsWill p em{color:#115f6c;padding-right:5px;}
.sub input{width:100%;text-align: center; height: 36px;font-size: 16px;color: #fff; background: #7f1085;cursor: pointer; border: none;}


/*关于清华研究院*/
.companyCon h3{font-size:18px;height: 32px; line-height:32px; font-weight: bold;color: #7f1085; padding-bottom: 6px;}
.companyCon h4{font-size:15px; color:#999;padding-bottom:20px;}
.companyCon img,.companyAout img{ display:block;width:100%; overflow:hidden;}
.companyVideo h3{ text-align:center;color:#f00;padding:20px 0;font-size:16px;}
.companyAout{padding:20px 0;}


.companylist{background:#fafafa;width:100%;padding:20px 10px; box-shadow:0px 0px 2px #999;margin-bottom:20px;}
.companylist dt h3 {font-size: 16px; margin-bottom:20px;padding-bottom:10px; }
.companylist dt .Plantitle{position:relative;}
.companylist dt .Plantitle span.inco{margin-right:10px; border-radius:3px;width:40px;height:45px; display:inline-block;text-align:center; line-height:45px; color:#fff;font-size:20px;}
.companylist dt .title01{border-bottom:1px solid #9ccfe8; color: #44abdd; }
.companylist dt .title01 span.inco{background:#9ccfe8;}
.companylist dt .title01 span.inco:after{content:""; position: absolute;width: 0;height: 0; left:18px; bottom:0;margin-left: -10px; border: 10px solid #9ccfe8;border-width: 10px 10px 0;border-color: #9ccfe8 transparent transparent;z-index: 99;}
.companylist h3 a { float:right; font-size:12px; color: #666;padding-top:13px; }
.companylist h3 a:hover, .about-contact p a:hover { color: #7f1085; }
.companylist .dd2 { width:100%; overflow: hidden; }
.companylist dt .title02{border-bottom:1px solid #f8b551; color:#f8b551;}
.companylist dt .title02 span.inco{ background:#f8b551; }
.companylist dt .title02 span.inco:after{content:""; position: absolute;width: 0;height: 0; left:18px; bottom:0;margin-left: -10px; border: 10px solid #f8b551;border-width: 10px 10px 0;border-color: #f8b551 transparent transparent;z-index: 99;}
.companylist dt .title03{border-bottom:1px solid #7f1085; color:#7f1085;}
.companylist dt .title03 span.inco{ background:#7f1085; }
.companylist dt .title03 span.inco:after{content:""; position: absolute;width: 0;height: 0; left:18px; bottom:0;margin-left: -10px; border: 10px solid #7f1085;border-width: 10px 10px 0;border-color: #7f1085 transparent transparent;z-index: 99;}

.companylist dt .title04{border-bottom:1px solid #b3d465; color:#b3d465;}
.companylist dt .title04 span.inco{ background:#b3d465; }
.companylist dt .title04 span.inco:after{content:""; position: absolute;width: 0;height: 0; left:18px; bottom:0;margin-left: -10px; border: 10px solid #b3d465;border-width: 10px 10px 0;border-color: #b3d465 transparent transparent;z-index: 99;}

.companyContact p{padding-left:25px;margin-bottom:10px;}
.companyContact .tel{ background:url(../webimages/index_inco27.png) 0 2px no-repeat;}
.companyContact .qq{ background:url(../webimages/index_inco28.png) 0 0 no-repeat;}
.companyContact .wesite{ background:url(../webimages/index_inco29.png) 0 0 no-repeat; background-size:20px auto;}
.companyContact .address{ background:url(../webimages/index_inco30.png) 0 2px no-repeat;}



/*发展历程*/
.improveDl{  background:url(../webimages/index_inco32.png) 8px center repeat-y; padding-bottom:6px; position:relative; padding-left: 30px;}
.improveDl dt{ position:absolute; width: 18px;left:0; top:-4px;}
.improveDl dd{ position:relative; border:1px solid #d9d9d9; padding:12px 10px; font-size:13px; color:#333; line-height:24px; top:-10px;}
.improveDl dt p{ font-size: 12px; color:#fff; font-weight:bold; background:url(../webimages/index_inco31.png) 0 2px no-repeat; height:32px; text-align:center; padding-top: 0; background-size: 18px auto;}
.left{ position:absolute; background:url(../webimages/hsh26.jpg) no-repeat; width:10px; height:17px; left:-10px; top:13px; background-size:10px auto;}
.improveDl dd h3{font-size:16px; color:#7f1085; padding-bottom:6px;}
.improveDl dd img{ display:inline-block; margin-top:5px; height:90px;}
.improveDl.cur{ background:none;}


/*联系我们*/
.contactBox{}
.contactBox h3{font-size:18px;height: 32px; line-height:32px; font-weight: bold;color: #7f1085; padding-bottom: 6px;}
.contactBox h4{font-size:15px; color:#999;padding-bottom:20px;}
.contactList  li{padding-left:30px;margin-bottom:10px;}
.contactList .address{ background:url(../webimages/index_inco33.png) 0 10px no-repeat; background-size:20px auto;}
.contactList .tel{background:url(../webimages/index_inco34.png) 0 2px no-repeat; background-size:20px auto; }
.contactList .Fax{background:url(../webimages/index_inco35.png) 0 2px no-repeat; background-size:18px auto; }
.contactList .Email{background:url(../webimages/index_inco36.png) 0 2px no-repeat; background-size:18px auto; }
.contactList .qq{background:url(../webimages/index_inco28.png) 0 0px no-repeat; background-size:20px auto; }


/*学院专题*/
.homecoming{padding:20px .25rem; overflow:hiddenl}
.hometitle{ text-align:center; height:40px; line-height:40px;margin-bottom:20px;font-size: 18px; border-bottom:1px solid #BF87C2; position:relative;}
.hometitle span{color:#333; }
.hometitle span:after{ content:"";width:90px;height:4px;background:#7F1085; position:absolute;top:37px; left:50%; transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.hometitle span i{color:#7f1085; font-style:normal;}
.homecoming{background:#fff;}
.schoolNews{position:relative; overflow:hidden;width:100%;}
.subjectListOne {}
.subjectListOne li{width:2.85rem; float:left;margin-bottom:20px;}
.subjectListOne li:nth-of-type(odd){margin-right:.2rem;}
.subjectListOne li img{width:100%; display:block;}
.subjectListOne li  .subjecttitle{font-size:14px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:1;height:30px; line-height:30px; }
.subjectListOne li  .subjecttitle a{ display:block;color:#7f1085;}
.subjectListOne li .subjectText{text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:2; }
.Collegecomposition img{ display:block;width:100%;}
.CollegeComList{ position:relative; overflow:hidden;width:100%;}
CollegeCompany ul li{}
.CollegeCompany li{width:2.85rem; float:left;margin-bottom:20px;}
.CollegeCompany li:nth-of-type(odd){margin-right:.2rem;}
.CollegeCompany li img{width:100%; display:block;}
.CollegeCompany li  .subjecttitle{font-size:14px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:1;height:30px; line-height:30px; text-align:center; }
.LearningContainer{position: relative;overflow: hidden; z-index: 1;height:100%;}
/*.LearningContainer .swiper-container{ background:#fff; height:100%; width:100%; overflow:hidden; border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; -ms-border-bottom-right-radius:4px; -o-border-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; -ms-border-bottom-left-radius:4px; -o-border-bottom-left-radius:4px; -webkit-border-bottom-left-radius:4px; margin-bottom:10px; position:relative;}
.LearningContainer .swiper-wrapper{ height:100%;}
.LearningContainer .swiper-slide{  padding:22px 30px 20px 15px; height:auto; font-size:13px; color:#333; line-height:20px;}
.LearningContainer .swiper-slide h3{ font-weight:bold; font-size:14px; padding:10px 0 5px;}
.swiper-scrollbar { border-radius: 10px; position: relative; -ms-touch-action: none; background:#000;  position: absolute;right: 15px; top: 22px; z-index: 50; width: 1px;height: 92%;}
.swiper-scrollbar-drag {height: 100%; width: 3px; position: relative; background:#000; left: -1px; top: 0;}*/

.LearningContainer ul li{ border-bottom:1px dashed #bbbbbb;padding:15px 0;}
.LearningContainer ul li .name{color:#666; display:block;padding-top:10px;}
.subjion{padding:20px 0;}
.subjion .proTitle{ color:#7f1085;padding-bottom:10px;}
/*照片放大*/
#galleryOverlay{width:100%;height:100%;position:fixed;top:0;left:0;opacity:0;z-index:100000;background-color:#222;background-color:rgba(0,0,0,0.8);overflow:hidden;display:none;-moz-transition:opacity 1s ease;-webkit-transition:opacity 1s ease;transition:opacity 1s ease;}
/* This class will trigger the animation */
#galleryOverlay.visible{opacity:1;}
#gallerySlider{height:100%;left:0;top:0;width:100%;white-space: nowrap;position:absolute;-moz-transition:left 0.4s ease;-webkit-transition:left 0.4s ease;transition:left 0.4s ease;}
#gallerySlider .placeholder{background: url("../webimages/preloader.gif") no-repeat center center;height: 100%;line-height: 1px;text-align: center;width:100%;display:inline-block;}
/* The before element moves the
 * image halfway from the top */
#gallerySlider .placeholder:before{content: "";display: inline-block;height: 50%;width: 1px;margin-right:-1px;}
#gallerySlider .placeholder img{display: inline-block;max-height: 100%;max-width: 100%;vertical-align: middle;}
#gallerySlider.rightSpring{-moz-animation: rightSpring 0.3s;-webkit-animation: rightSpring 0.3s;}
#gallerySlider.leftSpring{-moz-animation: leftSpring 0.3s;-webkit-animation: leftSpring 0.3s;}
/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
} 

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}


/*学员专题*/
.studenTtitle{font-size:15px; color: #7f1085;border-bottom:1px solid #7F1085; line-height:30px;margin-bottom:20px;}
.studentStoryO{padding-bottom:20px;font-size:13px; line-height:22px;color:#333;}
.studentStoryO img{ display:block;width:100%;}
.companyHistory{ background:url(../webimages/index_inco37.png) 2px 8px repeat-y;}
.companyHistory li{padding-left:10px;margin-bottom:10px; background:url(../webimages/index_inco38.png) 0 8px no-repeat;}
.courseTitle{height: 38px;line-height: 38px; font-size: 16px;font-weight: bold;color: #7f1085;  border-bottom: 1px solid #7f1085;margin-bottom:10px;}
.courseList{}
.courseCon li{width: 2.85rem;float: left;margin-bottom:10px;}
.courseCon li:nth-of-type(odd){margin-right: .2rem;}
.courseCon li a{ display:block;margin-bottom:10px;}
.courseCon li a img{ display:block; width:100%;}
.courseCon li p{ color:#7f1085; font-size:14px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:1;}
.forumList li{margin-bottom:10px;}
.forumList li img{width: 2.55rem;height: 1.88rem;}

.coursesOne{margin-bottom:20px;}
.coursesTit{font-size: 15px;font-weight: bold;color: #7f1085; text-align:center; padding-bottom:10px; border-bottom:1px solid #7f1085; margin-bottom:15px;}
.subcourses{color:rgb(153, 153, 153); line-height:20px; text-align:center;}
.courseImg{ position:relative;margin-top:10px;}
.courseImg img{width:100%; overflow:hidden; display:block;}
.courseImg .imgText{ position:absolute;top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);padding:5px;width:5.5rem; background:rgba(136,50,139,.5);}
.courseImg .imgText span{ display:block;color:#fff; text-align:center; font-size:14px; line-height:20px;}
.qinghua{color: #333;font-size:14px; font-weight:bold;padding-bottom:5px; padding-top:10px;}
.companyMore{color:#7f1085; font-size:12px;}
.development dt{padding-bottom:10px;}
.development dd:nth-of-type(2){margin-top:10px;padding:20px 10px 10px; background:url(../webimages/index_img40.jpg) left 0 no-repeat, url(../webimages/index_img41.jpg) right bottom no-repeat; background-size:20px auto;}
.companyHistory li span{ display:block;color:#7F1085; font-weight:bold;}

.courseSetting li{width:2.9rem; border:2px solid #B479B2; float:left;padding:5px; box-shadow:2px 2px 2px rgba(205,202,195,.8);margin-bottom:10px;}
.courseSetting li:nth-of-type(odd){margin-right:.1rem;}
.courseSetting li span{color: #7f1085; font-weight:bold; font-size:18px;}
.courseSetting li h4{height:48px;text-overflow: ellipsis;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; -webkit-line-clamp:2;color: #7f1085;}
.Elective li{border:2px solid #B8DEEF;}
.object{ display: -webkit-box; -webkit-box-orient: horizontal;}
.object dt{height:50px;}
.object dt img{ display:block;height:50px;}
.object dd{-webkit-box-flex: 1;color:##333; font-weight:bold;}
.freeInco{font-weight:bold;}
.freeInco img{height:30px; vertical-align:-10px;margin-right:10px; }
.coursesCon1{width:100%;padding:20px 10px;background: rgba(136,50,139,.5); color:#fff;margin-top:10px;}
.coursesCon1 a{ color:#fff;}
.Study p{padding-left:10px;}
.advisory{ font-weight:bold;}
.classroom dt{margin-bottom:10px;}
.classroom dt img{ width:100%; display:block;}
.classroom dd a{color:#7f1085;}
.classroom h4{font-size: 14px;font-weight: bold; height:30px; line-height:30px;}
.development dt img{width:100%; display:block;}
.advancedCon{background:#F2E7F3;padding:10px;margin-bottom:10px;}
.characteristic li{padding:10px; background: rgba(136,50,139,.5); color:#fff; margin-bottom:10px;}
.LearningGain li{ margin-bottom:10px; }
.LearningGain li span{border-left:2px solid #7F1085;padding-left:10px;}
.con1{ text-align:center;}
.con1 .em2{ font-size:16px;color:#7f1085;}
.chinese {padding-top:10px;}
.chinese li{margin-bottom:10px;}
.chinese li img{ display:block; width:100%;}
.chinese li .contentText{background: #7f1085; color:#fff;padding:20px 10px;}
.LearningContainer .nameText{ font-weight:bold; font-size:16px;color:#7f1085;}
.loveList{color: #7f1085; font-size:16px; padding-bottom:10px;}
.coursesOne .p1{padding-left:10px;background: url(../webimages/dot.gif) no-repeat 0 9px;}
.coursesOne .str{ font-weight:bold;}
.eloquence li{background:#7f1085; color:#fff;margin-bottom:10px;padding:10px;}
.teacher{margin-bottom:10px;}
.teacher dt img{ display:block ;width:100%;}
.teacher dt{display: -webkit-box; -webkit-box-orient: horizontal;}
.teacher span.img{border:2px solid #B479B2; border-radius:50%; display:block; width:50px;height:50px; overflow:hidden;}
.teacher h4{-webkit-box-flex: 1;color:#7f1085;padding:12px 0 0 10px; fonts-size:14px;}
.teacher h4 strong{font-size:16px;}
.teacher dd{ font-size:14px;}
.Cooperation li {border-left:2px solid #7f1085;margin-bottom:20px;padding-left:5px;}
.Cooperation li h4{ font-weight:bold;color:#7f1085;font-size:16px;}
.RequirementList li {margin-bottom:10px;}
.RequirementList li p{}
.RequirementList li p em{color: #c00;}
.RequirementList li input[type="text"]{width:100%;height:35px; line-height:normal; border: 1px solid #d2d2d2;padding-left:10px;}
.submitBtn{height:35px; width:100px; background:#7F1085; text-align:center;color:#fff; display:block;margin-top:20px;}
.schoolBg1{ background:url(../webimages/index_img81.jpg) center center; background-size:100% auto;padding:10px; color:#fff;margin-bottom:10px;}
.schoolBg2{background:url(../webimages/index_img82.jpg) center center; }
.schoolBg2 a{color:#fff;}
.advanced {height:400px; overflow:auto;margin-top:20px;}
.advanced li{padding-bottom:10px;border-bottom:1px solid #CE9CD1;}
.advanced li h5{font-size:16px;color: #7f1085;padding:10px 0 4px;}
.advancedImg img{width:50%; border:1px solid #d9d9d9; vertical-align:top;}
.coursesResule li {margin-bottom:5px;}
.coursesResule li h4{height:40px; line-height:40px; color:#fff;padding-left:10px; background:url(../webimages/index_inco42.png) right 10px center no-repeat,#7F1085;}
.coursesResule li .resuleContent{padding:10px 0; display:none;}
.xueTitle{height:35px; line-height:35px; background:#CA7E40; color:#fff;padding-left:10px;font-size:16px;margin-bottom:10px;margin-top:10px;}
.chinese li .contentText h4{ font-size:16px;padding-bottom:5px;}
.backArror dt{ padding-bottom:20px;background:url(../webimages/index_inco43.png) center bottom no-repeat;} 
.backArror dd {padding-top:10px;}
.backArror dd p{word-wrap:break-word;}
.text1{padding:10px; background:#7F1085; color:#fff;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color:#A0A0A0 !important;}
.mCSB_scrollTools .mCSB_draggerRail { background-color: #000;background-color: rgba(0,0,0,0.4);filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)";}
.mCSB_scrollTools .mCSB_draggerRail { width: 2px;height: 100%;margin: 0 auto;  -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;}
.mCSB_scrollTools .mCSB_draggerContainer{right:-11px;}
.mCSB_inside > .mCSB_container{margin-right:10px;}

.threeMenu{background:#fff; display:none;}
.subMeun p .threeMenu a{background:#fff;font-size:14px;border-bottom:1px solid #d9d9d9;}
.subMeun p .threeMenu a:hover{color:#7f1085;}

.development dt img{ display:block;height:50px;}
.development dt{display: -webkit-box; -webkit-box-orient: horizontal;}
.development span.img{border:2px solid #B479B2; border-radius:50%; display:block; width:50px;height:50px; overflow:hidden;}
.development h4{-webkit-box-flex: 1;color:#7f1085;padding:12px 0 0 10px; fonts-size:14px;}
.development h4 strong{font-size:16px;}
.newsContentList li img{width:2.95rem;height:2.23rem;}

/*20160727wqp*/
body{ display:flex;min-height:100vh;flex-direction:column;}
.commonWeb{ flex:1;}
.subjectListOne li img{height:1.89rem;width:2.85rem;}

/*20160730wqp*/
header h2{position:absolute;left:50%;top:50%;transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
header .return{ display:block; float:right;background: url(../webimages/return.png); float: right; background-size: 25px 25px;width: 25px;height:25px;}
.newslist li h4{ font-weight:bold;}
nav {width:60%;}
nav .close{width:25px;height:25px; display: block; position:absolute;top:10px;right:10px;background: url(../webimages/close.png) 0 0 no-repeat,#fff; background-size:25px auto;z-index:9999;}

.telphone{position: fixed;bottom:50px;right:20px;z-index: 10000;width:30px;height:30px; background:url(../webimages/telphone.png);background-size:30px auto;}

.wqpnewsContents img{max-width:100% !important;width:100% !important;height:auto !important;}


.footerHeight{height:61px;}
.wqpFooterLay{ position:fixed;width:100%;bottom:0;left:0; z-index:999; border-top:1px solid #fff;}
.wqpFooterLay ul{}
.wqpFooterLay ul li{ float:left;width:25%;color:#fff; text-align:center; background:#7F1085;}
.wqpFooterLay ul li a{ display:block;color:#fff;padding:10px 0;}
.wqpFooterLay ul li img{ display:block; margin:0 auto;height:20px;}
.RequirementList textarea{height:100px;border:1px  solid #D2D2D2;width:100%;padding:10px;}
.telphone{ display:none;}
.threeMenu a:nth-of-type(1),.threeMenu a:nth-of-type(3){ display:none;}