@charset "utf-8";
/* CSS Document */


body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, button, fieldset, legend, ul, ol, li, dl, dt, dd, th, td, div, img, a {
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	
}
body, button, input, select, textarea {
	font:12px \5b8b\4f53;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ul, ol {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
label, button {
	cursor:pointer;
}
.clear {
	clear:both;
}
/* IE < 8 */


/*全局CSS*/

/*#columns7{color:#fff; background:url(/images/j1.jpg) no-repeat right center #5d317d; height:42px;}*/
 
.introduction span{display:none ;}

#index_box{background-color:#eaeaea;}
#box_root{ width:100%;}

#box_header{width:100%; height:auto; background-color:#f4f4f4; }

#top{ width:1000px; margin:0 auto; height:auto;}
#top h1{ width:331px; height:93px; float:left;}
#topIN{ width:273px; height:93px; float:right; }
.pho{ width:316px; float:left; margin-left:40px; font-size:22px; color:#ff9600; font-style:italic; padding-top:50px;}

.link{ width:273px; height:39px;  text-align:right; float:right; margin-top:9px; }
.link a{ padding:0 3px; font-size:12px;}
.link a:hover{ color:#5c307d;}
.sre{ width:175px; height:25px; float:right;}


#nav{ width:100%; height:47px; background:url(images/index1_15.jpg) repeat-x 0 0;}

#navIN{ width:1000px; margin:0 auto; height:42px;  padding-top:5px; }

 
#bn{   margin: 0 auto;
    overflow: hidden;
    width: 100%;}
.bnIN{clear: both;
    height:446px;
    left: 50%;
    margin-left: -950px;
    position: relative;
    width: 1900px;}

 
#bn_pro{   margin: 0 auto;
    overflow: hidden;
    width: 100%;}
.bnIN_pro{clear: both;
    height: 200px;
    left: 50%;
    margin-left: -950px;
    position: relative;
    width: 1900px;}
    

    
#bn_zx{   margin: 0 auto;
    overflow: hidden;
    width: 100%;}
.bnIN_zx{clear: both;
    height: 594px;
    left: 50%;
    margin-left: -950px;
    position: relative;
    width: 1899px;}    
    
    
#gg{ width:100%; height:40px; background:#5d317d;}
.ggIN{ width:1000px; height:40px; margin:0 auto;}
.ggIN_ti{ width:72px; float:left; /*margin-top:9px;*/ margin-right:5px; background:#fd9d15; color:#fff; height:40px; line-height:40px; text-align:center; font-size:14px; font-weight:bold;}
.ggIN_cn{ width:880px; float:left;}

#box_main{ width:100%; background:#f4f4f4; padding-bottom:60px;}
#box_main1{ width:100%;  /*padding-bottom:60px;*/}
#index_main{ width:1000px; margin:0 auto; height:auto; padding-top:30px;}
#pro_main{width:1000px; margin:0 auto; height:auto;}
#about{ /*width:285px; float:left; height:auto;*/}
.about_ti{ width:582px; height:30px; line-height:30px; font-size:18px; color:#494949; padding-left:37px; border-bottom:2px #5d317d solid;  background:url(images/ico4_36.jpg) no-repeat left center;}
 
.about_cn{ width:285px; height:257px; color:#2e2e2e; margin-top:18px;}


#new{ width:307PX; height:auto; float:left; margin-left:30px; display:inline; position:relative;}
.new_BOT{ width:307px; margin-top:55px;}

#con1{ width:272px; height:auto; float:left; margin-top:27px; background:#e0e0e0; padding:0 10px; padding-bottom:10px; margin-left:35px; display:inline; position:relative;}
.con1_ti{ position:absolute; top:-59px; left:0; width:251px; border-bottom:2px #5d317d solid; line-height:30px; font-size:18px; color:#494949; background:url(images/ico3_34.jpg) no-repeat left center; padding-left:40px;}


.con_cn{ width:300px;  }
.con_cn a{ padding-top:10px; display:block;}
 

#aboutIN{ width:296px; float:left; height:auto; /*margin-top:22px;*/}
.about_tiIN{ width:582px; height:30px; margin-top:50px; line-height:30px; font-size:18px; padding-left:28px; color:#494949; border-bottom:2px #5d317d solid;  background:url(images/ico2_32.jpg) no-repeat left center;}
 
.about_cnIN{ width:285px; height:257px; padding:10px 10px 10px 10px; border:1px #dbdbdb solid; border-right:none; background:#FFF; color:#2e2e2e; /*margin-top:40px;*/}


#newIN{ width:307PX; height:auto; float:left; margin-left:10px; display:inline;/* margin-top:22px;*/ position:relative;}
.new_BOTIN{ width:307px; /*margin-top:40px;*/ height:277px; background:#FFF; border:1px #dbdbdb solid;  border-right:none;  border-left:none;}

#conIN{ width:354px; height:auto; float:left;  display:inline;/* margin-top:22px;*/ position:relative;}
.con_cnti{width:278px; padding-left:30px; height:30px; line-height:30px; font-size:18px; color:#494949; padding-left:30px; position:absolute; top:-31px; border-bottom:2px #5d317d solid;  background:url(images/ico1_30.jpg) no-repeat left center; left:42px;}
.con_cnti span{ float:right; padding-top:3px;}
.con_cnti span a{ font-size:14px; color:#5d317d;}
.con_cnIN{ width:300px; background:#fff;  border:1px #dbdbdb solid; height:257px; padding:10px 10px 10px 40px; /*margin-top:10px; */border-left:none;  }




#box_footer{ width:100%; }
#foot{ width:100%;  height:255px; background:#e0e0e0;  padding-top:26px; }
#footIN{ width:1000px;  margin:0 auto; padding-top:9px;}


#foot_index{ width:100%;  height:350px; background:#e0e0e0;}
#footIN_index{ width:1000px;  margin:0 auto; padding-top:9px;}

#footIN ul{ margin:0; padding:0; width:85px; float:left;margin-right:26px;}
#footIN ul li{}
#footIN ul h2{ font-size:14px; color:#22132d; padding-bottom:5px;}
#footIN ul li a{ font-size:12px; height:12px; padding-top:12px; line-height:12px; display:block; color:#6f6f6f;}
#footIN ul li a:hover{ font-size:12px; text-decoration:none; color:#5d317d;}
#foot_bot{ width:1000px;  margin:0 auto;   line-height:34px; height:34px;}
.foot_bot_left{ float:left;}
.foot_bot_left p{ line-height:22px; color:#939393;}
.foot_bot_right{ float:right; text-align:right;}
.foot_bot_right p{ line-height:22px; color:#939393;}
.foot_bot_right p a{ color:#939393;}
#foot_botIN{width:100%; color:#a5a2a7; line-height:88px; height:88px; background:#22132d; padding-top:25px;}


#foot_logo{ width:161px; height:58px; float:left; margin-left:220px; display:inline; margin-top:31px;}

#yqlj_index{width:1000px;  margin:0 auto;  padding-top:25px; }
#yqlj_index h2{ font-size:14px; color:#22132d;}
.yqlj_index{width:1000px; padding-top:10px; }

#yqlj{width:1000px;  margin:0 auto;  padding-top:25px; display:none;}
#yqlj h2{ font-size:14px; color:#22132d;}
.yqlj{width:1000px; padding-top:10px; }


#box_left{ width:200px; float:left;}
#list{ border-left: 12px solid #5c307d;
    left: -12px;
    position: relative;
    top: -34px;
    width: 100%;}
.list_ti{ background: none repeat scroll 0 0 #5c307d;
    color: #fff;
    font-size: 22px;
    line-height: 68px;
    padding: 0 22px;}
.list_cn{ width: 100%; margin-top:20px; background:#fff; border-top: 1px solid #ddd;}


#box_right{margin: 0 0 0 30px;
    width: 770px; float:left;}

#link{ width:100%; padding-top:20px;}
#com{ width:760px; padding:5px;}
#com_lx{ width:771px; padding:5px;}


#main_zx{ width:1000px; height:auto;}
#zx_an{ width:152px; height:40px; margin:0 auto; padding-top:80px; padding-bottom:60px;}








.new_BOT_mo{ float:right; }
.new_BOT_mo a{  font-size:14px; color:#5d317d;}
.new_BOT_mo a:hover{ text-decoration:underline;}

.new_BOTIN_mo{float:right;}
.new_BOTIN_mo a{  font-size:14px; color:#5d317d;}
.new_BOTIN_mo a:hover{ text-decoration:underline;}


#gj{ width:1000px; height:auto; padding-top:74px;}













/*TAB*/
#tags_img{ width:980px; height:41px;}
#con {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH:100%;
	 
}
#tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 40px; background:#5d317d;
}
#tags LI {
	  FLOAT: left; LIST-STYLE-TYPE: none; HEIGHT: 40px;  
}
#tags LI A {
	  FLOAT: left; COLOR: #fff; font-size:16px; LINE-HEIGHT: 40px; 0px; HEIGHT: 40px; TEXT-DECORATION: none; width:180px;   padding-left:15px; background:#5d317d;
}
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tags LI.selectTag {
	BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 40px
}
#tags LI.selectTag A {
	BACKGROUND-POSITION: right top; COLOR: #666; LINE-HEIGHT: 40px; HEIGHT: 40px; background:#f4f4f4; width:180px; padding-left:15px;
}
#tags LI A img{ padding-right:3px;}
#tags LI.selectTag A img{ padding-right:3px;}


#tagContent { height:508px;
	 PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px;  PADDING-TOP: 1px;  margin-top:42px;
}
.tagContent {
	 DISPLAY: none; background:#fff;COLOR: #474747; }
#tagContent DIV.selectTag {
	DISPLAY: block
}






#mr{ width:1000px; height:auto; padding-top:70px;}
.mr_ti{ width:219px; height:80px; margin:0 auto;}
.mr_cn{ width:1000px; padding-top:30px; height:auto;}

.tu{ width:772px; height:41px; padding-top:20px;}

.aa_img{ width:1000px; margin-top:15px; margin-bottom:15px;}





.mr_cn_img{ width:1000px;}


.ms_list{ width:1000px; position:relative;}
.ms_list1{ position:absolute; top:-500px;}
.icon-blog, .icon-mail{ display:none!important;}

.c_mdew{ float:left; margin-top:73px;}
