<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigrabbit.qinghua_school.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.bigrabbit.qinghua_school.entity.Course">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="hour" jdbcType="INTEGER" property="hour" />
    <result column="cdesc" jdbcType="VARCHAR" property="cdesc" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, cname, hour, cdesc, mid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_course
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigrabbit.qinghua_school.entity.Course">
    insert into t_course (cid, cname, hour, 
      cdesc, mid)
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{hour,jdbcType=INTEGER}, 
      #{cdesc,jdbcType=VARCHAR}, #{mid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bigrabbit.qinghua_school.entity.Course">
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="hour != null">
        hour,
      </if>
      <if test="cdesc != null">
        cdesc,
      </if>
      <if test="mid != null">
        mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="hour != null">
        #{hour,jdbcType=INTEGER},
      </if>
      <if test="cdesc != null">
        #{cdesc,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigrabbit.qinghua_school.entity.Course">
    update t_course
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="hour != null">
        hour = #{hour,jdbcType=INTEGER},
      </if>
      <if test="cdesc != null">
        cdesc = #{cdesc,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigrabbit.qinghua_school.entity.Course">
    update t_course
    set cname = #{cname,jdbcType=VARCHAR},
      hour = #{hour,jdbcType=INTEGER},
      cdesc = #{cdesc,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>


  <select id="selectByMid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_course
    where mid = #{mid}
  </select>

</mapper>