<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigrabbit.qinghua_school.dao.ForumMapper">
  <resultMap id="BaseResultMap" type="com.bigrabbit.qinghua_school.entity.Forum">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="fdesc" jdbcType="VARCHAR" property="fdesc" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, title, fdesc, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_forum
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_forum
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigrabbit.qinghua_school.entity.Forum">
    insert into t_forum (fid, title, time, 
      img)
    values (#{fid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{fdesc,jdbcType=VARCHAR},
      #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bigrabbit.qinghua_school.entity.Forum">
    insert into t_forum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="fdesc != null">
        fdesc,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{fdesc,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigrabbit.qinghua_school.entity.Forum">
    update t_forum
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="fdesc != null">
        time = #{fdesc,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigrabbit.qinghua_school.entity.Forum">
    update t_forum
    set title = #{title,jdbcType=VARCHAR},
      fdesc = #{fdesc,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  
  <select id="findAll" resultType="com.bigrabbit.qinghua_school.entity.Forum">
    SELECT * from t_forum
  </select>
  
</mapper>