<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigrabbit.qinghua_school.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.bigrabbit.qinghua_school.entity.Menu">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="mlevel" jdbcType="INTEGER" property="mlevel" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    mid, mname, mlevel, pid, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_menu
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigrabbit.qinghua_school.entity.Menu">
    insert into t_menu (mid, mname, mlevel, 
      pid, url)
    values (#{mid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mlevel,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bigrabbit.qinghua_school.entity.Menu">
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="mlevel != null">
        mlevel,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mlevel != null">
        #{mlevel,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigrabbit.qinghua_school.entity.Menu">
    update t_menu
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mlevel != null">
        mlevel = #{mlevel,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigrabbit.qinghua_school.entity.Menu">
    update t_menu
    set mname = #{mname,jdbcType=VARCHAR},
      mlevel = #{mlevel,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
    
    <select id="findAll" resultType="com.bigrabbit.qinghua_school.vo.VMenu">
      SELECT e.mid,e.mname,e.mlevel,s.mname parentname from t_menu e
      INNER JOIN t_menu s
      on s.pid = e.mid
    </select>
    
</mapper>