<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigrabbit.qinghua_school.dao.ScienceMapper">
  <resultMap id="BaseResultMap" type="com.bigrabbit.qinghua_school.entity.Science">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, sname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_science
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_science
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bigrabbit.qinghua_school.entity.Science">
    insert into t_science (sid, sname)
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bigrabbit.qinghua_school.entity.Science">
    insert into t_science
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="sname != null">
        sname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bigrabbit.qinghua_school.entity.Science">
    update t_science
    <set>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bigrabbit.qinghua_school.entity.Science">
    update t_science
    set sname = #{sname,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>

  <select id="selectBySid" parameterType="java.lang.Integer" resultType="com.bigrabbit.qinghua_school.vo.ScienceVo">
     /*/select * from t_science*/
      select *
      from t_science sc
      INNER JOIN t_sinfo si
      on sc.sid=si.sid
      where sc.sid=#{sid}
  </select>
</mapper>